

html{
background-color:lightskyblue;
}

.si{

    font-size:large;
    font-weight:500;
    
}

.Titulos-eddie{

font-family:'Trebuchet MS' ;

}

.Codigos{

color: chocolate;
    font-family:'Trebuchet MS' ;

}

.Comandos{

font-family: sans-serif;

}